* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #e4e9f765;
  
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom: 3em;
  
  min-height: 100vh;

}

p {
  line-height: 1.75;
}
a {
  text-decoration: none;
  color:rgb(47, 65, 65);
}
h1,
h2,
h3,
h4,
h5{
  color:#3b2f6d;

}
/*--------------------------PAGINA PRINCIPAL --------------------- */
.home-section{
  position: relative;
  
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}


.home-content{
  height: 60px;
  display: flex;
  align-items: center;
}
.home-content .bx-menu,
.home-content .text{
  color: #e2e1ec;
  font-size: 35px;
}
.home-content .bx-menu{
  margin: 0 22px;
  cursor: pointer;
}
.home-content .text{
  font-size: 26px;
  font-weight: 600;
}
@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
}

.contenido-presentacion{
  background-color: rgb(185, 165, 153);
  font-size: 20px;
  padding: 50px;

}
.contenido-presentacion .card-body h5{
  font-size: 40px;
  margin-bottom: 23px;
  color:#1d1538ed;
}
.img-card-presentacion{
  max-width: 100%;
  max-height: 100%;
}
.campo-principal{
  margin-left: auto;
  margin-right: auto;
  padding-right: 0;
  padding-left: 0;
}






.fadeTop {
  opacity: 1; 
  transform: translate(0, 15vh);
  transition: all 1s;
  
}

.fadeRight {
  opacity: 1;
  transform: translate(10vh, 0vh);
  transition: all 1s;
 
}

.fadeLeft {
  opacity: 1;
  transform: translate(-10vh, 0vh);
  transition: all 1s;
}
  
.visible {
  opacity: 1;
  transform: translate(0, 0);
}



/* ---------------------------NAVBAR ----------------------------------------*/
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #11101d;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}




.sidebar .nav-links .active .link_name {
  color: rgba(137, 228, 201, 0.781);
  text-decoration: none;
  
}
.sidebar .nav-links .active .bx{
  color: rgba(137, 228, 201, 0.781);
}




.sidebar-container{
  min-height: 100vh;
  position: fixed;
 
  width: 13rem;


}

.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #1d1b31;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}




/*----------------------------------PAGINA ACTIVIDADES--------------------------*/
.container-cards .row{
  margin-bottom: 50px;
}


/*tarjeta*/
.card-news-body{
  background-color: inherit;
  border: none;
  text-align: center;
}

.img-new{
  width: 100%;
  height: 100%;
}
.container-img-new{
  margin: 50px auto 50px auto;


}
.container-paragraph-new p{
  text-align: justify;
}



/*efecto shadows para todas las tarjetas*/
.card-section {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-right: 20px;

}
/*Para el efecto sombra al pasar por encima el mouse*/
.card-section:hover {
  box-shadow: 1px 1px 20px #d2d2d2;
}




/*----------------------------------PAGINA PROYECTOS--------------------------*/
.img-card-section{
  max-width: 280px;
  max-height: 270px;
}

.img-fluid{
  height: 100%;
  width: 100%;
}

.card-body .btn{
  background-color: rgb(88, 125, 160);
  color:white;
  font-size: 1rem;
}
.card-body .btn:hover{
  box-shadow: 1px 1px 20px #d2d2d2;
  background: rgba(43, 78, 110, 0.835);
}
.card{
  background-color: inherit;
  border: none;
  text-align: justify;
}

.contenido-proyectos{
  margin-right: auto;
  margin-left: auto;
}
.card-title{
  font-weight: 700;
  text-transform: capitalize;
}
.container-titulo{

  background-image: url('/static/images/fondoTitulo.webp');
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;
  
}
.container-titulo h1{
  font-weight: 700;
  font-size: 50px;
  color: rgb(78, 101, 149);
}

/*----------------------------------PAGINA ASIGNATURAS--------------------------*/

.card-subjects{
  background-color: red;background: linear-gradient(-90deg, #91c798, #73b492);
  color:rgb(41, 41, 41); 
  text-align: center;
}
.card-subjects p{
  text-align: justify;
}
/*----------------------------------PAGINA CURSOS--------------------------*/

/*Cards*/

.card-courses{
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
  width: 20rem;

}
.card-courses:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card-courses img{
	width: 100%;
	height: 130px;
}

.card-courses .contenido-card a{
	transition: all 400ms ease;
}

@media only screen and (min-width:320px) and (max-width:768px){

	.card-courses{
		margin: 15px;
	}
}




/*------------------------------FOOTER------------------------------------*/
.page-footer {
  
  background-color: #302d3c;
  margin-top: auto;
  padding: 1em 0;
  position: absolute;

  bottom: 0;
  
  width: 100%;
  
}


.footer-copyright{
  text-align:left;
  color:white;
}


















