{% extends "base.html" %}

{% block head_title %}
Actividades
{% endblock %}

{% block content %}

  <div class="container-titulo">
    <h1>Noticias & Videos</h1>
  </div>
  
  <div class="container mt-5">

    <div class="row">

      <div class="col-lg-9 container-cards">


        <div class="row">
          <h1>Noticias</h1>
        </div>
        <hr />
        <div class="row">

          {% for item in news|slice:":10" %}
          <!--tarjetas de noticias-->

          <div class="card col-xxl-4 col-lg-6 col-md-6 col-sm-6 mb-4 ">
            <div class="card-section w-100">
              <a href="{% url 'new' item.id %}">
                <img src="{{item.image.url}}" class="img-fluid rounded-start card-img-top" alt="..."></a>
              </a>
            </div>
            <div class="card-body card-news-body w-100">
              <a href="{% url 'new' item.id %}">
                <h5 class="card-title">{{item.title}}</h5>
              </a>
            </div>

          </div>
          {% endfor %}

          <!--Boton de ver mas noticias-->

          {% if news|length > 10 %}
          <div class="card col-xxl-12 col-lg-12 col-md-12 col-sm-12 mb-4 mt-3">
            <button class="btn btn-outline-primary mt-5" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseNews" aria-expanded="false" aria-controls="collapseNews">
              Ver más noticias
            </button>
          </div>
          {% endif %}

          {% for item in news|slice:"10:" %}
          <!--tarjetas de noticias-->
          <div id="collapseNews" class="collapse card col-xxl-4 col-lg-6 col-md-6 col-sm-6 mb-4 ">
            <div class="card-section w-100">
              <a href="{% url 'new' item.id %}">
                <img src="{{item.image.url}}" class="img-fluid rounded-start card-img-top" alt="..."></a>
              </a>
            </div>
            <div class="card-body card-news-body w-100">
              <a href="{% url 'new' item.id %}">
                <h5 class="card-title">{{item.title}}</h5>
              </a>
            </div>

          </div>
          {% endfor %}




        </div>


      </div>


      <div class="col-lg-3 container-cards">
        <div class="row titulos-web">
          <h1>Videos</h1>
        </div>
        <hr />
        <div class="row">
          {% for item in videos|slice:":9" %}
          <!--tarjetas de videos-->
          <div class="card col-lg-12 col-md-6 col-sm-6 mb-4">
            <div class="card-section w-100">
              {% if item.link %}
              <iframe class="img-fluid rounded-start card-img-top" src="{{item.link}}" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
              {% elif item.fichero %}
              <video class="img-fluid rounded-start card-img-top" src="{{item.fichero.url}}" controls></video>
              {% endif %}
            </div>
            <div class="card-body card-news-body w-100">
              <h5 class="card-title">{{item.title}}</h5>
            </div>

          </div>
          {% endfor %}

          <!--Boton de ver mas videos-->
          {% if videos|length > 9 %}
          <div class="card col-lg-12 col-md-12 col-sm-12 mb-4 ">
            <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseVideos" aria-expanded="false" aria-controls="collapseVideos">
              Ver más videos
            </button>
          </div>
          {% endif %}

          {% for item in videos|slice:"9:" %}
          <!--tarjetas de videos-->
          <div id="collapseVideos" class="collapse card col-lg-12 col-md-6 col-sm-6 mb-4">
            <div class="card-section w-100">
              {% if item.link %}
              <iframe class="img-fluid rounded-start card-img-top" src="{{item.link}}" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
              {% elif item.fichero %}
              <video class="img-fluid rounded-start card-img-top" src="{{item.fichero.url}}" controls></video>
              {% endif %}
            </div>
            <div class="card-body card-news-body w-100">
              <h5 class="card-title">{{item.title}}</h5>
            </div>

          </div>
          {% endfor %}




        </div>


      </div>
    </div>






  </div>





{% endblock content %}